
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-8">
        <h1><%= @car.brand %> <%= @car.model %></h1>
          <h3>Price: $ <span id='price'><%= @car.price_per_day %></span></h3>
          <%= simple_form_for [@car, @booking] do |f| %>
                    <%= f.input :start_date, as: :date,
                                            html5: true %>
                    <%= f.input :end_date, as: :date,
                                          html5: true %>
              <%= f.submit  class: 'btn btn-outline-secondary' %>
          <% end %>
            <div class="d-flex justify-content-between mt-3">
              <h3 class='pb-1'>Total: $ <span id='value'></span></h3>
              <button onclick="calc()" class='btn btn-outline-success mb-2'>Calculate</button>
            </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  function totalDays()
  {
    var dropdt = document.getElementById("booking_end_date").valueAsDate;
    var pickdt = document.getElementById("booking_start_date").valueAsDate;
    return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
  }

  function calc()
{
  document.getElementById('value').innerHTML=totalDays()*parseInt(document.getElementById('price').innerHTML);
}
</script>
