<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Flogotipo-da-loja-do-pneu-89737751.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <li class="nav-item active mt-1">
            <%= form_with url: cars_path, method: :get, class: "d-flex justify-content-center" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control" %>
              <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
            <% end %>
      </li>
        <% if user_signed_in? %>
          <li class="nav-item active mt-1">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <%# <li class="nav-item"> %>
            <%# < %= link_to "Messages", "#", class: "nav-link" % > %>
          <%# </li> %>
          <li class="nav-item dropdown">
            <%= image_tag "#{cl_image_path current_user.photo.key}", class: "avatar-square dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Cars", my_cars_cars_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", my_bookings_bookings_path, class: "dropdown-item" %>
              <%= link_to "My Reservations", my_reservations_bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
