<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-8">

    <%= simple_form_for @car do |f| %>
    <%= f.input :brand, placeholder: 'Ferrari' %>
      <%= f.input :model, placeholder: 'LaFerrari' %>
      <%= f.input :year, collection: 1990..2023, placeholder: '2021' %>
      <%= f.input :description, label: 'Short description', placeholder: 'A short description for your car' %>
      <%= f.input :longdescription, label: 'Details for your car',placeholder: 'A longer description for you car' %>
      <%= f.input :price_per_day, placeholder: '$ 99' %>
      <%= f.input :address, label: "Where is the car located at?",
                            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: 'btn btn-outline-secondary' %>
    <% end %>
    <hr>
    <%= button_to "Delete this car", @car, class: 'btn btn-outline-danger', method: :delete if policy(@car).destroy? %>
    </div>
  </div>
</div>
