<div class="container mt-5">

  <div class="cards">
    <%# aqui tem que meter um each do p/ gerar os cards %>


    <% @cars.each do |car| %>
      <%= link_to car , class: 'hover' do %>
      <div class="card-trip">
        <img src="<%= cl_image_path car.photos.first.key %>" />
      <div class="card-trip-infos">
      <div>
        <h2><%= car.year %> <%= car.brand.capitalize %> <%= car.model.capitalize %></h2>
        <p><%= car.description %></p>
      </div>
        <h2 class="card-trip-pricing">$<%= car.price_per_day %></h2>
      </div>
      </div>
      <% end %>
    <% end %>

    <div class="card-trip">
      <img src="https://www.topgear.com/sites/default/files/cars-car/image/2020/07/dsc09285.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>2022 Ferrari SF90 Stradale</h2>

          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
  </div>
</div>
