<div class="container mt-5">
  <div class="cards">
    <% @cars.shuffle.each do |car| %>
       <%= link_to car , class: 'hover' do %>
        <div class="card-trip">
            <img src="<%= cl_image_path car.photos.first.key %>" class="card-image"/>
          <div class="card-trip-infos">
            <div>
              <h2><%= car.year %> <%= car.brand.capitalize %> <%= car.model.capitalize %></h2>
              <p><%= car.description %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= car.price_per_day %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
