
<div class="container mt-5 ">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-3">My Cars</h1>
    <%= link_to 'Add a car', new_car_path, class: 'btn btn-outline-secondary' %>
  </div>
  <hr>

  <% @cars.each do |car| %>
    <div class="card-product rounded-4 mb-3">
      <img src="<%=cl_image_path car.photos.first.key %>" >
        <div class="card-product-infos">
          <div class="card-product-content-info" style="width: 70%">
            <h2><%= "#{car.brand.capitalize} #{car.model.capitalize}" %></h2>
            <p><%= car.description %></p>
            <p><%= car.longdescription %></p>
            <p><strong>$</strong> <%= car.price_per_day %> / per day</p>
          </div>

          <div>
            <%= link_to 'Edit', edit_car_path(car), class: 'btn btn-outline-info' %>
          </div>
        </div>
    </div>
  <% end %>

</div>
