  <div class="container mt-5">
    <% if policy(@car).edit? %>
      <%= link_to "Edit this car", edit_car_path(@car) %> |
    <% end %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <% @car.photos.each do |photo|%>
          <div class="carousel-item <%= 'active' if photo == @car.photos.first %>">
            <img src="<%=cl_image_path photo.key %>" class="d-block w-100" >
          </div>
        <% end %>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-flex justify-content-between">
      <div class="p-4 mt-2" style="width: 70%">
        <div class="title mb-4">
          <h1 class="fw-bold"><%= "#{@car.brand.capitalize} #{@car.model.capitalize}" %></h1>
        </div>
        <div class="specs">
          <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Brand</div>
                <%= @car.brand.capitalize %>
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Model</div>
                <%= @car.model.capitalize %>
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Year</div>
                <%= @car.year %>
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Description</div>
                <%= @car.description %>
              </div>
            </li>

          <%# MAYBE ADD 2 DESCRIPTIONS, A SHORT AND A LONG. SHORT FOR CARDS, LONG FOR SHOW %>

          </ol>
        </div>
      </div>
      <div class="card rounded-4 mt-4" style="width: 30%;">
        <div class="card-body">
          <h5 class="card-title">Price per day</h5>

          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="date mb-4 py-2">
            <label for="startDate">Start</label>
            <input id="startDate" class="form-control py-2" type="date" />
            <label for="endDate">End</label>
            <input id="endDate" class="form-control py-2" type="date" />
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary rounded-4">Rent this car</a>
          </div>
        </div>
      </div>
    </div>
  </div>
